
.navbar-nav{
    font-size:16px;
}
.nav{
    float:right;
}
#small{
    float:right;
    display: none;
}
@media (max-width: 768px) {
  nav ul     { display: none; }
  #small { display: inline-block; }
}
#small{
    margin-top:-40px;
}
.mainb{
     background: url(../images/humanity.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#footer {
    padding: 60px 0px 90px 0px;
    text-align: center;
    color: #555;
}
 .photo img:hover{
  transform: scale(1.5, 1.5); /** default is 1, scale it to 1.5 */
    opacity: 1;
}
.msg { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

#unique { 

   position: absolute; 
   top: 20px; 
   margin-left: -380px;
   margin-top: 30px;
   text-align: center; 
   width:20%; 
}