
.navbar-nav{
    font-size:16px;
}
.nav{
    float:right;
}
#small{
    float:right;
    display: none;
}
@media (max-width: 768px) {
  nav ul     { display: none; }
  #small { display: inline-block; }
}
#small{
    margin-top:-40px;
}
.mainb{
     background: url(../images/humanity.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
